#  도커컴포즈(전체 틀)
#    ├─ zookeeper 컨테이너
#    └─ kafka 컨테이너


# 도커 컴포즈 버전 # 이제 명시할 필요가 없음
# 도커 컴포즈를 구성할 서비스
services:
  # zookeeper를 사용하겠다.
  zookeeper :  # 도커컴포즈에서 zookeeper라는 컨테이너를 하나 만들겠다.
    image : confluentinc/cp-zookeeper:7.3.10
    environment: ## 환경변수 설정
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181" # host에 2181포트를 컨테이너의 2181 포트와 연결해준다.

  kafka : # 도커 컴포즈에서 kafka라는 컨테이너를 하나 만들겠다.
    image: confluentinc/cp-kafka:7.3.10 #kafka를 사용하돼 이버전으로 사용하겠다.
    depends_on:
      - zookeeper # kafka를 띄우기전에 zookeeper를 먼저 띄워줘 -표시는 배열로 사용할수있다는 의미임
    ports:
        - "9092:9092"
    environment:
        KAFKA_BROKER_ID : 1 # 카프카는 보통 여러개의 브로커라는 서버를 이요하는데 이거는 이 kafka 브로커의 이름
        # kafka클러스터 안에서 브로커를 구분하는 숫자 번호
        KAFKA_ZOOKEEPER_CONNECT : zookeeper:2181
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092 #카프카의 direct주소
        # 메시지를 보낼때 producer/consumer가 사용하는 주소
        # 앞의 port가 문이면 여기는 주소
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR : 1 # OFFSET 토픽에 복제개수를 설정 여기서는 1개밖에 없으니 1개만 함
        #offset은 consumer가 소비를 어디까지했는지 기록하는 곳임
        #이 설정은 offset 기록을 몇군데 브로커에 기록을 할껀지를 나타내는거임








